<div class="px-6 md:px-12">
    <!-- breadcumb? -->
    <div class="container mx-auto text-sm py-4">
        <a class="underline hover:text-blue-600" href="../" data-i18n="en:Home|zh:首页">Home</a> /

    </div>
</div>

<div class="px-6">
    <div class="container mx-auto">
        <div class="StdSinglePageContent">
            <h1 data-i18n="en:ALl Issues|zh:所有期刊">All Issues</h1>
        </div>
    </div>
</div>

<div class="px-6 md:px-12">
    <!-- <div class="mb-12">
        <h1 class="text-3xl font-bold">All Issues</h1>
    </div> -->
    <div class="container mx-auto">
        <div class="grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-22 lg:gap-10">
            {{#issue}}
            <div class="col-span-1">
                <a class="underline text-2xl" href="./{{issue_id}}/">
                    <div>
                        <img src="https://artifacts.fakejournal.org/pub/{{year}}/{{issue_id}}/issue.pdf.png" alt="" class="border-1 border-gray-400 rounded-xs">
                    </div>
                    <div class="text-center text-md">{{issue_id}}</div>
                </a>
            </div>
            {{/issue}}
        </div>
    </div>
</div>
