<div class="app-topbar fixed  w-full bg-white border-b-3 border-black py-0">
    <header>
        <div class="flex grow border-b-1 border-gray-400 px-6 md:px-12 py-5">
            <a href="/">
                <img src="/pic/fakejournallogo-black.png" alt="Fake Journal Logo" class="h-8">
            </a>
        </div>
        <style>
            .nav__1780253378 a {
                font-size: 1.1rem;
                font-weight: bold;
            }
        </style>
        <nav class="nav__1780253378  flex grow gap-4 px-6 md:px-12 py-5 items-start">
            <a href="/">Home</a>
            <a href="/issues/">Issues</a>
            <a href="/articles/">Articles</a>
            <a href="/submit/">Submit</a>
        </nav>
    </header>
</div>
<div style="height: 150px;"></div>
<!-- <div class="md:hidden" style="height: 30px;"></div> -->
