<link rel="shortcut icon" href="/pic/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/pic/avatar-black.png">


<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="/js/likes.js" type="module"></script>


<script>
    window.addEventListener('load', function () {
        document.querySelectorAll('.pleaseFixDateFormat').forEach(node => {
            node.innerHTML = node.innerHTML.trim().replace('T', ' ').slice(0, 19);
        });
    });
</script>
