<!-- <div>
    {{pub}}
</div>
<div>
    {{pub.issue}}
</div>
<div>
    {{info}}
</div> -->



<div class="px-6 md:px-12">

    <!-- breadcumb? -->
    <div class="text-sm py-4">
        <a class="underline hover:text-blue-600" href="/" data-i18n="en:Home|zh:首页">Home</a> /
        <a class="underline hover:text-blue-600" href="../" data-i18n="en:Issues|zh:所有期刊">Issues</a> /
        <!-- {{pub.issue.issue_volume}} -->
    </div>

    <div class="grid gap-4 md:gap-8 container mx-auto">
        <div class="sans-serif">
            <div class="pb-3">
                <h1 class="text-3xl font-bold" data-i18n="en:Issue {{pub.issue.issue_volume}}|zh:期刊 {{pub.issue.issue_volume}}"></h1>
            </div>
            <div>
                <span data-i18n="en:Cover Story|zh:封面故事"></span>:
                <br/>
                {{pub.issue.cover_story_title}}
            </div>
            <div class="my-8 border-b-1 border-slate-200"></div>
            <div>
                <div data-for-state="final"><a class="inline-block text-center text-lg bg-blue-500 text-white px-2 py-1 rounded-md min-w-40" href="https://artifacts.fakejournal.org/pub/{{pub.issue.year}}/{{pub.issue.issue_volume}}/issue.pdf" data-i18n="en:Read PDF|zh:阅读 PDF">Read PDF</a></div>
            </div>

            <!-- border -->
            <div class="my-8 border-b-1 border-slate-200"></div>

            <div class="flex flex-col lg:flex-row gap-8">
                <div class="shrink-0 grow-0 hidden lg:block">
                    <img class="block w-90   border-1 border-gray-400 rounded-xs"
                        src="https://artifacts.fakejournal.org/pub/{{pub.issue.year}}/{{pub.issue.issue_volume}}/issue.pdf.png" alt="">
                </div>
                <div class="shrink grow min-w-0">
                    <h2 class="text-xl font-bold my-4" data-i18n="en:Contents|zh:目录">Contents</h2>
                    <div class="flex flex-col gap-8">
                        <!-- List of articles -->
                        <!-- Keep in synchronization with 'articleslist_main.html' -->
                        {{#info}}
                            <div class="max-w-200 border-b-1 border-gray-300 hover:border-gray-500" style="transition: all 180ms ease;">
                                <a class="block shrink py-4" href="../articles/{{editor.obj_id}}/">
                                    <div class="text-lg sans font-bold leading-5 pb-2">
                                        {{article.title}}
                                    </div>
                                    <div class="flex flex-wrap flex-col xl:flex-row xl:place-content-between items-start text-gray-600">
                                        <div class="">
                                            {{editor.obj_id}}
                                            &nbsp;&nbsp;&nbsp;
                                            {{article.authors_simple}}
                                        </div>
                                        <div>{{editor.state}}</div>
                                    </div>
                                </a>
                            </div>
                        {{/info}}
                    </div>
                </div>
            </div>

            <!-- border -->
            <div class="my-8 border-b-1 border-slate-200"></div>
            </div>
        </div>
    </div>

</div>
