<title i18n-for="en">{{title_en}} | News | Fake Journal</title>
<title i18n-for="zh">{{title_zh}} | 新闻 | Fake Journal</title>



<meta
    property="og:title"
    attr-en-content="{{title_en}} | News | Fake Journal"
    attr-zh-content="{{title_zh}} | 新闻 | Fake Journal"
/>

<meta property="og:type" content="article" />
<!-- <meta property="og:description" content="" /> -->

<meta property="og:url" 
    attr-en-content="https://fakejournal.org/en/news/{{{id}}}/"
    attr-zh-content="https://fakejournal.org/zh/news/{{{id}}}/"
/>

<meta property="og:site_name" content="Fake Journal" />

<meta property="article:author" content="Fake Journal" />

<meta property="article:published_time" content="{{date}}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" attr-en-content="{{title_en}}" attr-zh-content="{{title_zh}}" />
<meta name="twitter:description" attr-en-content="{{title_en}}" attr-zh-content="{{title_zh}}" />


