<title i18n-for="en">News | Fake Journal</title>
<title i18n-for="zh">新闻 | Fake Journal</title>



<meta
    property="og:title"
    attr-en-content="News | Fake Journal"
    attr-zh-content="新闻 | Fake Journal"
/>

<!-- <meta property="og:type" content="article" /> -->
<!-- <meta property="og:description" content="" /> -->

<meta property="og:url" 
    attr-en-content="https://fakejournal.org/en/news/"
    attr-zh-content="https://fakejournal.org/zh/news/"
/>

<meta property="og:site_name" content="Fake Journal" />

