<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title i18n-for="en">{{editor.obj_id}} - {{article.title}} | Articles Archive | Fake Journal</title>
<title i18n-for="zh">{{editor.obj_id}} - {{article.title}} | 所有文章 | Fake Journal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="/css/generic.css">
</head>

<body>
    <div class="app-topbar fixed  w-full bg-white border-b-3 border-black py-0">
    <header>
        <div class="flex grow border-b-1 border-gray-400 px-6 md:px-12 py-5">
            <a attr-en-href="/en/" attr-zh-href="/zh/">
                <img src="/pic/fakejournallogo-black.png" alt="Fake Journal Logo" class="h-8">
            </a>
        </div>
        <style>
            .nav__1780253378 a {
                font-size: 1.1rem;
                font-weight: bold;
            }
        </style>
        <nav i18n-for="en" class="nav__1780253378  flex grow gap-4 px-6 md:px-12 py-5 items-start">
            <a href="/en/">Home</a>
            <a href="/en/issues/">Issues</a>
            <a href="/en/articles/">Articles</a>
            <a href="/en/submit/">Submit</a>
        </nav>
        <nav i18n-for="zh" class="nav__1780253378  flex grow gap-4 px-6 md:px-12 py-5 items-start">
            <a href="/zh/">首页</a>
            <a href="/zh/issues/">期刊</a>
            <a href="/zh/articles/">文章</a>
            <a href="/zh/submit/">投稿</a>
        </nav>
    </header>
</div>
<div style="height: 150px;"></div>
<!-- <div class="md:hidden" style="height: 30px;"></div> -->
    <div class="px-6 md:px-12">

    <!-- breadcumb? -->
    <div class="text-sm py-4">
        <a class="underline hover:text-blue-600" href="../../" data-i18n="en:Home|zh:首页">Home</a> /
        <a class="underline hover:text-blue-600" href="../" data-i18n="en:Articles|zh:所有文章">Articles</a> /
        <!-- {{editor.obj_id}} -->
    </div>

    <div class="container mx-auto">
        <div class="StdSinglePageContent">
            <aside class="pb-1  text-lg ">{{editor.obj_id}}</aside>
            <h1>{{article.title}}</h1>
        </div>
    </div>

    <div class="grid gap-4 md:gap-8 container mx-auto">
        <div class="sans-serif">
            <!-- <div class="pb-3">
                <h1 class="text-3xl font-bold">{{article.title}}</h1>
            </div> -->
            <div>{{article.authors_simple}}</div>
            <div>
                <span data-i18n="en:State|zh:状态">...</span>:
                {{editor.state}}
            </div>
            <div class="my-8 border-b-1 border-slate-200"></div>
            <div>
                <div data-for-state="final"><a class="inline-block text-center text-lg bg-blue-500 text-white px-2 py-1 rounded-md min-w-40" href="https://artifacts.fakejournal.org/database/{{editor.year}}/{{editor.obj_id}}/final.pdf" data-i18n="en:Read PDF|zh:阅读 PDF">Read PDF</a></div>
            </div>

            <!-- border -->
            <div class="my-8 border-b-1 border-slate-200"></div>

            <div>
                <h2 class="text-xl font-bold my-4">Abstract</h2>
                <div>
                    <p class="text-md" style="max-width: 40em;">{{article.abstract}}</p>
                </div>
            </div>

            <!-- border -->
            <div class="my-8 border-b-1 border-slate-200"></div>

            <div class="hidden">
                <h2 class="text-xl font-bold my-4" >Cite this article</h2>
                <div>
                    <pre id="jsPreBibtex" class="monospace text-sm whitespace-pre-wrap"></pre>
                </div>
                <script>
                    (function () {
                        let xhr = new XMLHttpRequest();
                        xhr.open('GET', './info.json');
                        xhr.send();
                        xhr.onload = function () {
                            // console.log(xhr);
                            // console.log(xhr.responseText);
                            function escapeHtml(html) {
                                var text = document.createTextNode(html);
                                var p = document.createElement('p');
                                p.appendChild(text);
                                return p.innerHTML;
                            }
                            let data = JSON.parse(xhr.responseText);
                            console.log(data);
                            // let entry = data.article;
                            const bibtex_str = `@article{fake_${data.editor.obj_id},
                                title = {${data.article.title.trim()}},
                                author = {${data.article.authors_simple}},
                                journal = {Fake},
                                volume = {${data.editor.issue_volume}},
                                year = {${data.editor.date_accept.slice(0, 4)}},
                                month = {${data.editor.date_accept.slice(5, 7)}},
                                eprint = {fake.${data.editor.obj_id}},
                            }`.replace(/\n\s+/g, '\n@').replace(/\n@([^\}])/g, '\n    $1').replace('@}', '}');
                            document.querySelector('#jsPreBibtex').innerHTML = escapeHtml(bibtex_str);
                        };
                    })();
                </script>
            </div>
        </div>
    </div>

</div>
    <div class="h-90"></div>

<div class="app-footer bg-gray-100 mt-16 px-6 md:px-12 py-32">
    <footer class="text-gray-700 container mx-auto">
        <style>
            .app-footer a:hover {
                color: black;
                text-decoration: underline;
            }
        </style>
        <div class="grid lg:grid-cols-3 gap-10 gap-y-20 text-lg">
            <!-- Column 1 -->
            <div class="text-black text-xl">
                <!-- <div>Fake Journal</div> -->
                <div><img src="/pic/fakejournallogo-black.png" alt="Fake Journal Logo" class="h-8"></div>
                <div class="text-sm py-3">The Journal of Unverifiable Discoveries</div>
            </div>

            <!-- Column 2 -->
            <div i18n-for="en" class="items-start flex flex-col gap-2">
                <a href="/en/">Home</a>
                <a href="/en/about/">About</a>
                <a href="/en/submit/">Submission Guide</a>
                <a href="/en/submit-terms/">Manuscript Submission Terms</a>
                <a href="/en/privacy/">Privacy Policy</a>
                <div class="h-2"></div>
                <a href="/en/">English</a>
                <a href="/zh/">简体中文</a>
            </div>
            <div i18n-for="zh" class="items-start flex flex-col gap-2">
                <a href="/zh/">首页</a>
                <a href="/zh/about/">关于</a>
                <a href="/zh/submit/">投稿指南</a>
                <a href="/zh/submit-terms/">投稿条款</a>
                <a href="/zh/privacy/">隐私政策</a>
                <div class="h-2"></div>
                <a href="/en/">English</a>
                <a href="/zh/">简体中文</a>
            </div>

            <!-- Column 3 -->
            <div class="items-start flex flex-col gap-2">
                <a href="https://github.com/fakejournal">GitHub</a>
                <a i18n-for="en" href="https://github.com/fakejournal/article-starter-kit">Article Starter Kit</a>
                <a i18n-for="zh" href="https://github.com/fakejournal/article-starter-kit">撰稿脚手架</a>
                <div class="py-10 text-sm text-gray-500">
                    More links coming soon...
                </div>
            </div>
        </div>
    </footer>
</div>
</body>

</html>
